body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal-style {
  max-height: 400px; /* Establece la altura máxima que desees */
  max-width: 800px;
  overflow-x: auto;
  overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
}
